.header {
    font-size: 2em;
}

.bg {
    background-image: url('./1.jpg');
    margin: auto;
    width: 564px;
    height: 1002px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.button {
    display: block;
    width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    background-color: rgb(248, 65, 156);
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(255, 0, 128);
    cursor: pointer;
}

.input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    color: white;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.sbg {
    margin-top: 2rem;
    text-align: center;
    background-color: rgba(255, 122, 189, 0.685);
    width: 100%;
}

